<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>

	<title>Login</title>

	<meta name="keywords" content="sinfonia"/>
	<meta name="description" content="sinfonia manager"/>
	<meta name="author" content="heiha"/>

	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/reset.css}"/>
	<link rel="stylesheet" th:href="@{/css/supersized.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" th:href="@{/css/layout.css}"/>
	<link rel="stylesheet" th:href="@{/css/login.css}"/>

	<script th:src="@{/js/jquery-1.8.2.min.js}" ></script>
	<script th:src="@{/js/supersized.3.2.7.min.js}" ></script>
	<script th:src="@{/js/supersized-init.js}" ></script>
</head>
<body>
<div class="logo text-center">
	<a href="#">
		<img th:src="@{/img/logo.png}" width="180px" height="180px"/>
	</a>
	<p class="text-big text-center logo-color">Sign in to Sinfonia</p>
</div>
<div class="page-container">
	<form method="post">
		<input name="username" class="username" datatype="*"
			   placeholder="Username or email address"
			   nullmsg="Please input username"/>
		<input type="password" name="password" class="password" datatype="*6-16"
			   placeholder="Password"
			   nullmsg="Please input password"/>
		<button class="submit_button">SIGN IN</button>
		<div class="error"><span>+</span></div>
		<div class="forget">
			<a th:href="@{/password_reset}" class="forget-pwd text-default fl">Forgot password?</a>
			<a th:href="@{/register}" class="forget-new text-default fr" id="forget-new">Create an account</a>
		</div>
	</form>
</div>

<script th:src="@{/js/scripts.js}" ></script>
<script th:src="@{/js/js.js}"></script>
<script th:src="@{/js/Validform_v5.3.2_min.js}"></script>
</body>
</html>